<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #consultaForm="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <label >Nome do Cliente:</label>
                <input type="text" [(ngModel)]="name" class="form-control" name="name">
            </div>

            <div class="col-md-6">
                <label >Mês:</label>
                <select [(ngModel)]="month" class="form-control" name="selectMonth">
                    <option value="">Selecione...</option>
                    <option *ngFor="let month of months " [value]="month">
                        {{ setMonthDescribed(month) }}
                        {{ month }} - {{ monthDescribed }} 
                    </option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-search"></i>
                    Consultar
                </button>

                <button class="btn btn-info float-right" (click)="newRegister()">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>    
        </div>
    </form>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert" *ngIf="message">
                {{ message }}
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of listServiceProvided">
                        <td>{{ service.client.name }}</td>
                        <td>{{ service.description }}</td>
                        <td>R${{ service.amount }}</td>
                        <td>{{ service.dateService }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>