<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ client.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente salvo com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{error}}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="client.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" [ngModel]="client.id"name="id" disabled>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>DATA CADASTRO:</label>
                    <input type="text" class="form-control" [ngModel]="client.registerDate" name="registerDate" disabled>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>NOME: *</label>
                    <input type="text" class="form-control" maxlength="150" [(ngModel)]="client.name" name="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control"
                        maxlength="11"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                        [(ngModel)]="client.cpf" name="cpf">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!client.id">
                    <i class="fa fa-save"></i>
                    SALVAR
                </button>

                <button type="submit" class="btn btn-success" *ngIf="client.id">
                    <i class="fa fa-sync"></i>
                    ATUALIZAR
                </button>

                <button class="btn btn-info ml-2" (click)="returnListClients()">
                    <i class="fa fa-undo-alt"></i>
                    VOLTAR
                </button>
            </div>
        </div>
    </form>
</div>