<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Serviço prestado salvo com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{error}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente: </label>
                    <select class="form-control" 
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="serviceModel.clientID">
                        <option value="">Selecione...</option>
                        <option *ngFor="let client of clients" [ngValue]="client.id">
                            {{ client.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição:</label>
                    <input class="form-control" type="text" name="description" [(ngModel)]="serviceModel.description">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor do Serviço:</label>
                    <input class="form-control" type="text" name="price" 
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                            [(ngModel)]="serviceModel.price">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data</label>
                    <input class="form-control" type="text" name="date" [(ngModel)]="serviceModel.date">
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>

                <button class="btn btn-info ml-2" (click)="returnListServices()">
                    <i class="fa fa-undo-alt"></i>
                    Voltar
                </button>
            </div>
        </div>

    </form>
</div>
